if user
    html
        head
            title Blog
        body
              form(method="post")
              
                label(for="pseudo") Pseudo
                br
                input(type="text", id="pseudo", name="pseudo", placeholder="", value=user.email)
                br
                br
                label(for="title") Nom du Jeux
                br
                input(type="text", id="title", name="title", placeholder="")
                br
                br
                label(for="note") Note du Jeux
                br
                input(type="text", id="note", name="note", placeholder="?/20")
                br
                br
                label(for="content") Contenue du Jeux
                br
                textarea(id="content", name="content", placeholder="")
                br
                br
                button(type="submit") Envoyer
                br
                br
                  
              for article in articles
                  article  
                        h1 #{article.pseudo}
                        p #{article.title}
                        p #{article.note}
                        p #{article.content}
                        h1 (#{article.score}) 
                        form(method="post", action="/" + article.id + "/upvote")
                          button(type="submit") upvote
                        form(method="post", action="/" + article.id + "/downvote")
                          button(type="submit") downvote
                          
                        a(href="/commentaire/"+article.id) Donner un commentaire
                            
                            
else
        p Please log in or create account.
          br
          a(href="/login") Log in
          br
          a(href="/create") Create account

              
